{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
    <h3 class="welcome-to">Welcome To</h3>
    <h1 class="about-logo">Stunt Lounge</h1>
    <p>Stunt Lounge is a free to use database of stunt videos that can be categorized by Brand name. You can add your videos from youtube to this database by clicking the “Add Video” button then adding part of your URL from youtube and giving it a title and selecting which motorbike is featured in this video. Help fellow riders find videos to grow this database</p>
</div>

{% endblock %}