{% extends 'base.html' %} {% block content %}

<div class="video-content">
{% for video in videos %}
    <div class="video-block">
        <div class="video-header">
            <div class="title">
                {{ video.video_title }}
            </div>
            <div class="edit_icon">
                <i class="material-icons">edit</i>
            </div>
        </div>
            <iframe class="video" src="{{video.video_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video_brand">
            {{ video.brand }}
        </div>
        
    </div>
{% endfor %}
</div>
{% endblock %}